
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
  .carousel-caption{
    bottom: 30% !important;
  }

  /*  caption animation  */
  .carousel  .carousel-inner .carousel-item.active .carousel-caption {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .carousel  .carousel-inner  .carousel-item.active .carousel-caption.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .carousel  .carousel-inner  .carousel-item.active .carousel-caption.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  .carousel  .carousel-inner .carousel-item.active .carousel-caption.flipOutX,
  .carousel  .carousel-inner .carousel-item.active .carousel-caption.flipOutY,
  .carousel  .carousel-inner .carousel-item.active .carousel-caption.bounceIn,
  .carousel  .carousel-inner .carousel-item.active .carousel-caption.bounceOut {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
  }
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeIn,
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeInDown,
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeInDownBig,
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeInLeft,
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeInLeftBig,
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeInRight,
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeInRightBig,
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeInUp,
  .carousel  .carousel-inner .carousel-item .carousel-caption.fadeInUpBig{
    opacity:0;
  }
  .btn-get-started{
    background-color: #00a44f;
    color: white;
    border-radius: 16px;
    padding: 8px;
    top: 16px;
    position: relative;
  }
  ::ng-deep .carousel .carousel-indicators li{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
  }
  ::ng-deep .carousel .carousel-indicators li:hover,
  ::ng-deep .carousel .carousel-indicators li.active{
    background-color: #00a44f;
  }

  @media(max-width: 767px) {
    .picsum-img-wrapper{
      background-position: 100% 100% !important;
      height: 45vh !important;
    }
  }
  @media(max-width: 576px){
    .carousel-item,
    .picsum-img-wrapper{
      height: 180px;
      background-position: 100% 100% !important;
      height: 43vh !important;
    }
    .carousel-caption {
      bottom: 6% !important;
      font-size: 12px;
  }
  .btn-get-started{
    top: 10px
  }
  ::ng-deep .carousel .carousel-indicators{
    display: none;
  }
  }
  @media (min-width: 766px) and (max-width: 1091px) {
    .picsum-img-wrapper{
      background-position: 100% 100% !important;
      height: 49vh !important;
    }
  }