<div class="slider-elements">
    <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slideritem of sliderItems" class="slide">
                <div class="card shadow-sm mb-3">
                    <img class="card-img-top"  [src]="slideritem.src" [alt]="slideritem.alt" >
                    
                </div>
                <div class="card-title"  *ngIf="lang.currentLanguage==='en-US'">
                    <h6 class="text-center">
                    {{ slideritem.title }}
                    </h6>
                </div>

                <!-- <div class="card-title"  *ngIf="lang.currentLanguage==='ar-EG'">
                    <h6 class="text-center">
                    {{ slideritem.title }}
                    </h6>
                </div> -->

            </div>
        </ngx-slick-carousel>
</div>