.simpleMargin
{
    margin: 1%;
}
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* zeinab Styling */
  /* images on sides */

  .sides-images figure{
    margin-bottom: 10px;
  }
  
  .sides-images figure img{
    width: 100%;
    height: 100%;
  }
  @media(max-width: 767px){
    .sides-images figure{
      margin-bottom: 10px;
      height: 400px;
      width: 80%;
    }
  }
  @media(max-width:576px){
    .sides-images figure{
      height: 400px;
      width: 60%;
      margin: 10px auto;
    }
  }