/* @import "../../../../assets/css/shared-style.css"; */
.roundEdge
{
    border-radius: 20px;
}


/* Featured Services Section
--------------------------------*/
#featured-services {
  background:rgb(0,130,56);
}

#featured-services .box {
  padding: 30px 20px;
}

#featured-services .box-bg {
  background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#featured-services i {
  color: #18d26e;
  font-size: 48px;
  display: inline-block;
  line-height: 1;
}

#featured-services h4 {
  font-weight: 400;
  margin: 15px 0;
  font-size: 18px;
}

#featured-services h4 a {
  color: #fff;
}

#featured-services h4 a:hover {
  color: #18d26e;
}

#featured-services p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 60px 0;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #18d26e;
}
  #header{
    height: 90px;
    padding: 0;
    /* background-color: rgba(45,186,30, .6); */
    background-color:rgba(0,130,56, 80%);
  }
  @media(max-width: 991px){

    #header{
      height: 80px;
    }
  }
@media(max-width: 767px){
  #header{
    background-color: rgb(0,130,56);
  }
}
  #header.header-scrolled {
    /* background: rgba(0, 0, 0, 0.9); */
    height: 80px;
    background-color: rgb(0,130,56);
    padding: 5px 0;
  }

  .try{
    height: 70vh;
    /* z-index: 9999; */
    position: relative;
  }
  .try-content{
    position: absolute;
    top: 50%;
    color: aliceblue;
    text-align: center;
    left: 40%;
  }
  @media(max-width: 991px){
    .try-content{
      position: absolute;
      top: 46%;
      color: aliceblue;
      text-align: center;
      left: 30%;
    } 
  }
  @media(max-width: 767px){
    .try-content{
      left: 25%;
    }
  }
  @media(max-width: 576px){
    .try-content{
      left: 15%;
    }
  }
  .btn-get-started{
    background-color: #00a44f;
    color: white;
    border-radius: 16px;
    padding: 8px;
    top: 16px;
    position: relative;
  }