<!-- https://www.w3schools.com/tags/tag_textarea.asp -->
<!-- <div class="try"  *ngIf="isDetails">
  <div class="try-content">
      <h3 class="animate__animated animate__fadeInDown">
          {{ 'order.OrderCementOnline' | translate  }}
        
        </h3>
        <a href="# " 
        class="btn-get-started scrollto animate__animated animate__fadeInUp" >
        {{ 'order.OrderNow' | translate  }}
      </a>
  </div>
</div> -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
      <app-navbar></app-navbar>
  </header>
     
<!-- End Header -->

  <!-- ======= Slider Section ======= -->
  
  <app-hero-carousel></app-hero-carousel>

  <!-- <div class="hero-bg">
    
  </div> -->
    <!-- ======= end Slider Section ======= -->
  <main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services" [hidden]="lUserRoleName!='Client'">
      <div class="container">
        <div class="row" >
 

          <div class="productstab" style="width: 100%;">
            <productstab></productstab>  
          </div>

          
        </div>
      </div>
    </section><!-- End Featured Services Section -->
</main>