<div class="form-group">
    <select  *ngIf="lang.currentLanguage==='en-US'"  [(ngModel)]='nrSelect'
        id="users" class="form-control" (change)="getUser($event)">
        <option hidden [value]="" selected>Select Target Customer </option>
        <option [ngValue]="k.Id" *ngFor="let k of userModel" >
            {{k.Username}}
        </option>
    </select>
</div>
<div class="form-group">
    <select  *ngIf="lang.currentLanguage==='ar-EG'"  [(ngModel)]='nrSelect'
        id="users" class="form-control" (change)="getUser($event)">
        <option hidden [value]="" selected>أختر التاجر </option>
        <option [ngValue]="k.Id" *ngFor="let k of userModel" >
            {{k.Username}}
        </option>
    </select>
</div>
