::ng-deep .owl-theme .owl-item  {
    
    padding: 20px;
  }
 .slider{
     padding: 30px 0;
    background: #D6D6D6!important; 
    border-radius: 2px;
 }
 ::ng-deep .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #00a44f!important; /*active and on hover color*/
  }
::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: #D6D6D6!important; /* dots color*/
  }
 
 ::ng-deep .owl-theme .owl-dots .owl-dot.active span,
 ::ng-deep  .owl-theme .owl-dots .owl-dot:hover span {
    background: #00a44f!important; /*active and on hover color*/
  }
  .owl-anchor-item{
      position: relative;
      display: block;
      background-color: red;
  }
  h5{
      color: #00a44f;
  }