
    <div class="slider-elements">
        <owl-carousel-o [options]="customOptions" #owlCar>
 
            <ng-container *ngFor="let slideritem of sliderItems">
              <ng-template carouselSlide [id]="slideritem.id">
                
                <div class="card shadow-sm mb-3 element">
                  <img class="card-img-top"  [src]="slideritem.src" [alt]="slideritem.alt" >
                  
              </div>
              <div class="card-title">
                  <h6 class="text-center">
                  {{ slideritem.title }}
                  </h6>
              </div>
              </ng-template>
            </ng-container>
     
          </owl-carousel-o>
          
    </div>
