/* You can add global styles to this file, and also import other style files */
@import "~ngx-tabset/ngx-tabset";


/* table td.positive {
    background-color: #80ff00 !important;
    color: #ffffff;
} */
.positive {
    background-color: #00ff40;
}

.negative {
    background-color: #ff0080;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover{
    /* background-color: black; */
    /* color: #dfb858 !important; */
    border-bottom: 1px solid #ffffff;
}
.activeTab{
    background-color: rgb(160, 47, 47);
  }

  .background-html { 
      background-image: url(./assets/images/big-html-back_cropped.png);
      background-size: cover;
      display: block;
    position: relative;
    }
    .background-html::after {
        content: "";
        background: rgba(0, 0, 0, 0.13);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .background-html > * {
        z-index: 10;
        position: relative;
        display: block;
    }
