<footer class="section-footer bg-secondary">
    <div class="container">
        <section class="footer-top padding-top">
            <div class="row">
                <aside class="footer-parts col-md-4 white" style="text-align: center">
                   
                   <a href="mailto:info@mysuez.suezcem.com" class="footer-links">
                    <p class="footer-text">
                        <span class="fa fa-envelope-o fa-2x"></span>
                    </p>
                    <h6 class="title">info@mysuez.suezcem.com</h6>
                   </a>
                </aside>
                <aside class="footer-parts col-md-4 white" style="text-align: center">
                   <a href="tel:+01023922442" class="footer-links">
                    <strong>
                        <i class="fa fa-phone fa-2x"></i>

                        <h1 class="phone-number"> 19<span class="phone-number-zero">0</span>83</h1>
                    </strong>
                   </a>
                </aside>

                <aside class="footer-parts col-md-4 white" style="text-align: center">
                    <article class="white">
                        <a class="footer-links" href="https://g.page/Suez-Cement-Kattameya-Plant?share">
                            <p class="footer-text">
                                <span class="fa fa-map-marker fa-2x"></span>
                            </p>
                            <h6 class="title">K30 Maadi/Ein Sokhna Road, Cairo, Egypt.</h6>
                            <div class="btn-group white">
                            </div>
                        </a>
                    </article>
                </aside>
            </div> <!-- row.// -->
            <br>
        </section>
    </div><!-- //container -->
</footer>