<div class="row">

    
    <div class="col-md-6">
        <div class="card">
        <div style="display: block">
         
            <label class="lablePad">{{'charts.monthVolume'|translate}}</label>       
            <canvas #lineChart>{{ chart }}</canvas>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
        <div style="display: block">
           
          <label class="lablePad">{{'charts.yearsVolume'|translate}}</label>  
         
            <canvas #lineChartyear>{{ chartyear }}</canvas>
          </div>
          </div>
    </div>
</div>

